body {
  background-color: #100022;
  background-image: url("https://www.nicepng.com/png/full/17-172798_white-star-png-transparent-background-twinkle-stars-png.png");
}

h1{
  color: white;
  font-size: 200%;
  font-family: Lucida Handwriting;
  letter-spacing: 3px;
}

h2{
  color: white;
  font-size: 200%;
  font-family: Georgia;
  letter-spacing: 3px;
}

img{
  width: 25%;
  border-radius: 30%;
}

ul{
  background-color: black;
  list-style-type: none;
  margin: 0;
  width: 100%;
  padding: 10px;
  top: 0;
  left: 0;
  position: fixed;
}

li{
  display: inline;
  padding: 8px 40px;
  float: left;
}

a{
  color: white;
  text-decoration: none;
  font-family: Georgia;
  
}
li a:hover{
  background-color: #DFCF81;
  color: #8C7918;
  padding: 12px 6px;
  opacity: 1;
}
